@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    i {
        padding: 3px;
        float: right;
        margin-top: auto;
    }


    .marge {
        margin: 1rem;
    }

    .div-back {
        width: 40%;
        margin: 2rem auto;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.7);
    }

    .list-item {
        margin: 1rem 0;

    }

    body {
        font-family: 'Roboto';
    }

    .logo-text {
        font-family: 'Oswald';
        font-size: 3rem;
        padding: 2rem 0;
    }

    li {
        cursor: pointer;
    }

    li[data-done="true"] {
        text-decoration: line-through;
        color: #7a7a7a;
    }

    li[data-done="false"] {
        /* border: 1px solid silver; */
    }

    li[data-due="true"] {
        /* border: 1px solid orange; */
    }

    li[data-due="false"] {}


    .due {
        /* display: inline-block; */
        border-radius: 50%;
        background-color: #A60A2E;
        color: white;
        font-weight: bold;
        padding: 0;
        font-size: 12px;
        width: 18px;
        height: 18px;
        line-height: 18px;
        text-align: center;
        float: right;
        margin-right: -5.7em;
        margin-top: -1.5em;
    }

    .close-x {
        margin-top: -0.5em;
        margin-right: -0.5em;
    }

    select {
        display: inline-block;
    }

    textarea {
        border: 1px solid #e0e0e0;
        margin-bottom: 1em;
    }

    i:hover {
        color: #e0e0e0;
    }
}